apiVersion: v1
kind: ServiceAccount
metadata:
  name: prod-roam-sa
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
      annotations:
        ebpf.instrument: "true"
    spec:
      serviceAccountName: prod-roam-sa
      containers:
        - name: api
          image: europe-west2-docker.pkg.dev/portfolio-463406/docker-repository/activity_tracker_api
          ports:
            - containerPort: 80
          env:
            - name: ENVIRONMENT
              value: prod
            - name: PORT
              value: "80"
            - name: DATABASE_NAME
              value: "prod_activity_tracker"
            - name: GIN_MODE
              value: release
          envFrom:
            - secretRef:
                name: api-secrets
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 3
      imagePullSecrets:
        - name: gcp-pull-secret
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: api-secrets
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: oci-secret-store
    kind: ClusterSecretStore
  target:
    name: api-secrets
  data:
    - secretKey: MONGODB_URI
      remoteRef:
        key: prod_roam_mongodb_uri
