apiVersion: v1
kind: ServiceAccount
metadata:
  name: roam-sa
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      serviceAccountName: roam-sa
      automountServiceAccountToken: false
      containers:
        - name: api
          image: europe-west2-docker.pkg.dev/portfolio-463406/docker-repository/activity_tracker_api
          ports:
            - containerPort: 80
          env:
            - name: ENVIRONMENT
              value: prod
            - name: PORT
              value: "80"
          envFrom:
            - secretRef:
                name: api-secrets
          volumeMounts:
            - name: ksa-token
              mountPath: /var/run/secrets/kubernetes.io/serviceaccount
              readOnly: true
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 3
      imagePullSecrets:
        - name: gcp-pull-secret
      volumes:
        - name: ksa-token
          projected:
            sources:
              - serviceAccountToken:
                  path: token
                  audience: mongodb
                  expirationSeconds: 3600
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: api-secrets
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: oci-secret-store
    kind: ClusterSecretStore
  target:
    name: api-secrets
  data:
    - secretKey: MAPS_KEY
      remoteRef:
        key: prod_roam_maps_api_key
    - secretKey: MONGODB_URI
      remoteRef:
        key: prod_roam_mongodb_uri
