version: "3"
services:
  test-api:
    build: .
    platform: linux/amd64
    env_file:
      - test.env
    volumes:
      - $HOME/.config/gcloud/:/config:ro
  test:
    build:       
      context: ./
      dockerfile: ./docker-test.dockerfile
    env_file:
      - test.env
    depends_on:
      - test-api
      - mongo
    volumes:
      - ./:/app
  mongo:
    image: mongo
    ports:
      - "27017:27017"
