version: "3.9"
services:
  api:
    build: .
    env_file:
      - .env
    ports:
      - "8000:5000"
    volumes:
      - ./:/app
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
