name: Build and Deploy on Release
on:
  release:
    types: [released]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - id: "checkout"
        name: Checkout
        uses: "actions/checkout@v4"

      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@v2"
        with:
          token_format: "access_token"
          workload_identity_provider: "projects/745294108339/locations/global/workloadIdentityPools/github/providers/actions"
          service_account: "github-actions@portfolio-459420.iam.gserviceaccount.com"

      - id: "login"
        name: Login to Docker
        uses: "docker/login-action@v3"
        with:
          registry: "europe-west2-docker.pkg.dev"
          username: "oauth2accesstoken"
          password: "${{ steps.auth.outputs.access_token }}"

      - id: "build-push"
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: europe-west2-docker.pkg.dev/portfolio-459420/docker-repository/${{ github.event.repository.name }}:${{ github.event.release.tag_name }}
